@page "/";
@inject IMediator Mediator;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<input type="color" @oninput=@((args)=>OnColorChanged(args))/>

@code{

    private async Task OnColorChanged(ChangeEventArgs args)
    {
        
    }
}
