@page "/fetchdata"

<div>Parent Count: @parentCount</div>

<button @onclick="UpateParentCount">ParentCount</button>
<button @onclick="UpateParentCountAsync">ParentCountAsync</button>
<button @onclick="UpateCount">CountField</button>
<button @onclick="UpateCountAsync">CountField</button>
<button @onclick="UpateCountProperty">CountProperty</button>
<button @onclick="UpateCountPropertyAsync">CountProperty</button>
<button @onclick="StateHasChangedTest">StateHasChange</button>
<button @onclick="StateHasChangedTestAsync">StateHasChangeAsync</button>

<Child TestField="@count" TestProperty="@CountProperty"></Child>